body {
    font-family: sans-serif;
    background-color: #81BEF7;
}

h1 {
  color: black;
}

#title {

}

#title-2 {
    color: white;
}
#out {
    font-size: 200%;
}
#out-title {
    font-size: 150%;
}
#encrypted {
    background-color:black;
    border: 20px;
    margin: 30px 10px;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
     border-radius: 18px;
}

#encrypted:hover {
    background-color: #fff;
    color: #000;
}
#decrypted {
    background-color:black;
    border: 20px;
    margin: 30px 10px;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
     border-radius: 18px;
}
#decrypted:hover {
    background-color: #fff;
    color: #000;
}
