textarea {
    width: 400px;
    height: 100px;
    text-transform: uppercase;
    margin: 10px 0 10px 0;
}
select {
    width: 100px;
}
section {
    margin: auto;
    width: 90%;
    padding: 20px;
}
h3, h5 {
    text-align: center;
}
div {
    padding: 20px;
    top: auto;
}
input {
    padding: 4px;


}
#chains {
    float: left;
  }
